<section class="l-panel" id="panel-clients">

  <div class="l-trigger">
    <div class="l-wrap">
      <div class="l-summary">
        <h1><a href="#panel-clients-hidden" data-toggle="collapse" data-target="#panel-clients-hidden" class="">People We Have Worked with</a></h1>
      </div><!-- l-summary -->

      <div class="l-content">
        <div class="well-small"><img src="<!-- @path blackndecker.png -->"></div>

        <div class="well-small"><img src="<!-- @path cbssports.png -->"></div>

        <div class="well-small"><img src="<!-- @path dirtydog.png -->"></div>

        <div class="well-small"><img src="<!-- @path disney.png -->"></div>

        <div class="well-small"><img src="<!-- @path gubiz.png -->"></div>

        <div class="well-small"><img src="<!-- @path hasbro.png -->"></div>

        <div class="well-small"><img src="<!-- @path holidayinn.png -->"></div>

        <div class="well-small"><img src="<!-- @path movietickets.png -->"></div>

        <div class="well-small"><img src="<!-- @path rotaryclub.png -->"></div>

        <div class="well-small"><img src="<!-- @path westin.png -->"></div>


      </div><!-- l-content -->
    </div><!-- l-wrap -->
  </div><!-- l-trigger -->

  <div class="l-hidden in collapse" id="panel-clients-hidden" style="height: auto;">

    <div class="l-wrap">

    </div><!-- l-wrap -->

  </div><!-- hidden -->

</section>