<footer>
  <div class="col-group">
    <div class="b-wrap">
      <h2>Recent Posts</h2>
      <ul>
        <li><a href="../pixelscut-blog/set-up-a-free-blog-in-6-easy-steps/">Set Up a Free Blog in 6 Easy Steps</a></li>
        <li><a href="../pixelscut-blog/responsive-web-design/">Responsive Web Design</a></li>
        <li><a href="../pixelscut-blog/alina-wheeler-raleigh-design-event-aiga/">Alina Wheeler Raleigh Design Event AIGA</a></li>
        <li><a href="../pixelscut-blog/chalk-lettering-design-dana-tanamachi/">Chalk Lettering Design Dana Tanamachi</a></li>
      </ul>
    </div>
    <div class="b-wrap">
      <h2>Social</h2>
       <ul id='social'>
        <li><a class='linkedin' href='http://www.linkedin.com/company/pixelscut' target='_blank' title='LinkedIn'></a></li>
        <li><a class='behance' href='http://www.behance.net/pixelscut' target='_blank' title='beHance'></a></li>
        <li><a class='twitter' href='https://twitter.com/pixelscut' target='_blank' title='Twitter'></a></li>
        <li><a class='facebook' href='https://www.facebook.com/pixelscut' target='_blank' title='Facebook'></a></li>
      </ul>
    </div>
    <div class="b-wrap">
      <h2>Contact Us</h2>
      <ul>
        <li>USA</li>
        <li>Address: P.O. Box 10470</li>
        <li>Raleigh, NC</li>
        <li>Telephone: 919-349-5957</li>
      </ul>
    </div>
  </div>
</footer>