<section class="l-panel" id="panel-pixelscut">

  <div class="l-trigger">
    <div class="l-wrap">
      <div class="l-summary-t">
        <h1><a href="#panel-pixelscut--hidden" data-toggle="collapse" data-target="#panel-pixelscut-hidden" class="">What is Pixelscut?</a></h1>
      </div><!-- l-summary -->

      <div class="l-content-t">
        <p>We are a Small Web Design and Development Studio located in Raleigh North Carolina Specializing in Mobile-First Responsive Strategies. </p>
      </div><!-- l-content -->
    </div><!-- l-wrap -->
  </div><!-- l-trigger -->

  <div class="l-hidden in collapse" id="panel-pixelscut-hidden" style="height: auto;">

    <div class="l-wrap">
      <h1>Get Your Business Up-to-Date Today!</h1>

    </div><!-- l-wrap -->

  </div><!-- hidden -->

</section>