<section class="l-panel" id="panel-pixelscut">

  <div class="l-trigger">
    <div class="l-wrap">
      <div class="l-summary-t">
        <h1><a href="#panel-pixelscut-hidden" data-toggle="collapse" data-target="#panel-pixelscut-hidden" class="">What is Pixelscut?</a></h1>
      </div><!-- l-summary -->

      <div class="l-content-t">
        <p>We are a Small Web Design and Development Studio located in Raleigh North Carolina Specializing in Mobile-First Responsive Strategies. We Pride Ourselves in Our One on One approach and Our Commitment to Customer Personalization.</p>
      </div><!-- l-content -->
    </div><!-- l-wrap -->
  </div><!-- l-trigger -->

  <div class="l-hidden in collapse" id="panel-pixelscut-hidden" style="height: auto;">

    <div class="l-wrap">
    <!-- http://twitter.github.com/bootstrap/components.html#media -->
      <div class="media well">
        <a class="pull-left" href=""><img class="media-object img-circle" width="200" src="<!-- @path mobile.jpg -->" alt="mobile first"></a>
        <div class="media-body media-one">
          <h2 class="media-heading">Mobile-First Responsive</h2>
          <p>Don't lose 80% of your screen space without making sure the most important features are what stay and are a pure delight to use. We design web sites and applications for mobile first specifying unique design considerations for mobile web organization, actions, input, and layout.</p>
        </div><!-- media-body -->
      </div><!-- media -->

      <!-- Next -->

      <div class="media well">
        <a class="pull-right" href=""><img class="media-object img-circle" width="200" src="<!-- @path design.jpg -->" alt=""></a>
        <div class="media-body media-two">
          <h2 class="media-heading">User Experience Design</h2>
          <p>Only means we help our clients define user experiences. Whether for new products or services we strategically involve all existing information with clearly formatted and integrated experiences across channels. We help you broaden your effect and reach in the online arena.</p>
        </div><!-- media-body -->
      </div><!-- media -->

      <!-- Next -->

      <div class="media well">
        <a class="pull-left" href=""><img class="media-object img-circle" width="200" src="<!-- @path research.jpg -->" alt=""></a>
        <div class="media-body media-three">
          <h2 class="media-heading">Rapid Process Communiqué</h2>
          <p>Whether through wire framing, flow charting or simple social software chats we communicate. Relationships are what make what we do worth doing. We provide fast solutions for the common issues that arise. We have the experience to listen, learn and ultimately know when to put the proverbial foot down. We make it happen.</p>
        </div><!-- media-body -->
      </div><!-- media -->
    </div><!-- l-wrap -->

  </div><!-- hidden -->

</section>
<!-- @include _clients.html -->