<section class="l-panel" id="panel-special-tables">

        <div class="special-img m-hide"><img src="<!-- @path coolguy_iphone.png -->"></div>

        <div class="l-trigger">
          <div class="l-wrap">

            <div class="l-content-b">

              <div class="l-summary-b">
                <h1><a href="#panel-special-hidden" data-toggle="collapse" data-target="#panel-special-hidden" class="">No Time to Waste!</a></h1>
                <p>With our mobile-first approach we make sure that your website loads quickly and shows just what you want seen on the go. Stop trying to fit your desktop on a phone.</p>
              </div><!-- l-summary -->
              <div class="t-hide d-hide special-btn"><a href="#contactModal" class="btn btn-primary" data-toggle="modal">Contact Us</a></div>
              <div class="m-hide special-btn"><a href="#contactModal" class="btn btn-primary" data-toggle="modal">Contact Us Today</a></div>
            </div><!-- l-content -->
          </div><!-- l-wrap -->
        </div><!-- l-trigger -->

        <div class="l-hidden in collapse" id="panel-special-hidden" style="height: auto;">
          <div class="l-wrap">
            <div class="package special">
              <h2>Special Offer</h2>
              <h4>Take Advantage of This Great Offer Today</h4>
              <div class="s-col-l">
                <p>Logo Design</p>
                <p>5 Page Mobile-First<br/>Resposive Website</p>
                <p>Free Hosting for 3 Months</p>
                <p>and Much More</p>
                <h5>Pay in Full - <span>(Best Deal)</span></h5>
                <h3>$1800</h3>
                <button class="t-hide d-hide btn-primary btn" type="button">Buy Now</button>
                <button class="m-hide btn-primary btn btn-large" type="button">Buy Now</button>
              </div>
              <div class="s-col-r">
                <p>Logo Design</p>
                <p>5 Page Mobile-First<br/>Resposive Website</p>
                <p>Free Hosting for 3 Months</p>
                <p>and Much More</p>
                <h5>6 Easy Payments</h5>
                <h3>$320</h3>
                <button class="t-hide d-hide btn-primary btn" type="button">Buy Now</button>
                <button class="m-hide btn-primary btn btn-large" type="button">Buy Now</button>
              </div>
            </div>
          </div><!-- l-wrap -->

        </div><!-- hidden -->

      </section>