// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

body:after {
content : 'bp2';
display : none; }


.media-body {
  width: 100%;
}

.special-btn {
  position: absolute;  
  right: 2em;
  margin: -5.9em 0 0;
}